{% extends "base.html.twig" %}

{% block title %}{{ question.title }}{% endblock %}

{% block body %}
    <div class="pb-4">
        <h1 class="text-3xl tracking-tight font-semibold">{{ question.title }}</h1>
        <span class="text-sm text-gray-600 block  mb-4">{{ question.owner.email }}</span>
        <p class="text-gray-700">{{ question.content|raw }}</p> 
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% if app.user.id is same as(question.owner.id) %}
            <div class="pt-8">
                <form method="post" action="{{ path('questions.destroy', {'id': question.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete-question' ~ question.id) }}">
                    <button class="bg-red-500 text-white text-sm px-4 py-1 rounded-sm hover:bg-red-600">Delete</button>
                </form>
            </div>
            {% endif %}
        {% endif %}
    </div>

    <hr>
    {% if is_granted('ROLE_USER') %}
        <div class="py-6">
            {{ form(answer_form) }}
        </div>
    {% else %}
         <div class="py-6">
            <p class="text-blue-600 text-sm">Please <a href="/login" class="underline font-bold">log in</a> to answer this question</p>
        </div>
    {% endif %}
    <hr>

    <div class="py-6">
        <h2 class="text-2xl font-bold tracking-tight mb-4">Answers</h2>

        <div>
            {% if question.answers|length > 0 %}
                {% for answer in question.answers|sort((a, b) => a.vote < b.vote) %}
                    <div class="border border-gray-300 mb-4 p-4 rounded-sm flex items-center">
                        <span class="mr-8 text-blue-200 px-4 font-bold text-4xl">{{ answer.vote }}</span>
                        <p class="tracking-tight text-gray-700 text-base">{{ answer.content|raw }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    {# <div>
        <span class="js-vote-arrows">
            <button data-direction="up">+</button>
            <button data-direction="down">-</button>
        </span>
        <span class="js-vote-total"></span>
    </div> #}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/question_show.js') }}"></script>
{% endblock %}